.search_line {
    left: 25px;
    display: flex;
    position: relative;
}
.post_list_container {
    top: 0vw;
    position: relative;
    display: grid;
    width: 100%;
}
.post_list {
    position: relative;
    display: grid;
    margin-bottom: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 84.5vw;
    max-width: 1200px;
    grid-template-columns: repeat(3, auto);
}

.post_item {
    height: 380px;
    width: 350px;
    margin: 25px;
    display: block;
    background: rgba(244, 193, 65, 0.8);
    border-radius: 20px;
}
.post_item:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 15px 15px;
    background-color: transparent;
    border-radius: 20px;
    transform: translate(-15px, -15px);
}
.post_item_inner {
    height: 380px;
    width: 350px;
    transition: all 0.35s;
    position: relative;
}
.post_item_inner:hover {
    background-color: rgba(244, 193, 65, 1);
    border-radius: 20px;
}
.img_inner {
    border-radius: 20px;
    height: 250px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
.img_center {
    object-position: center;
}
.post_desc {
    border-top: 2px solid rgba(253, 242, 217, 1);
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
}
.post_title_font {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 25px;
    font-size: 25px;
    color: black;
}

.post_text {
    top: 5px;
    position: relative;
    color: #717278;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 15px;
    height: 100%;
    width: 100%;
    font-weight: 400;
}

.post_category {
    top: 35px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #717278;
    display: inline-block;
    float: left;
}
.post_desc_userinfo {
    top: 35px;
    position: relative;
}
.post_author {
    color: #717278;
    font-size: 20px;
    font-weight: 400;
    float: right;
}

.post_list_title {
    margin-left: 25px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    width: 200px;
    position: relative;
}
.result {
    top: 0;
    left: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 3vw;
    color: #717278;
}
.result_img {
    position: relative;
    margin-top: 30px;
    height: 600px;
    width: 1200px;
}
@media screen and (max-width: 1440px) {
    .search_line {
        display: flex;
        position: relative;
    }
    .post_list {
        display: grid;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 80px;
        width: 84.5vw;
        max-width: 1200px;
        grid-template-columns: repeat(3, auto);
    }
    .post_item {
        max-height: 380px;
        max-width: 350px;
        margin: 1vw;
        display: block;
        height: 28vw;
        width: 26vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 1vw;
    }
    .post_item:hover {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 1vw 1vw;
        background-color: transparent;
        border-radius: 1vw;
        transform: translate(-1vw, -1vw);
    }
    .post_item_inner {
        max-height: 380px;
        max-width: 350px;
        transition: all 0.15s;
        height: 28vw;
        width: 26vw;
        position: relative;
    }
    .post_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        border-radius: 1vw;
    }
    .img_inner {
        max-height: 250px;
        border-radius: 1vw;
        height: 19.5vw;
        width: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3vw;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    .img_center {
        object-position: center;
    }
    .post_desc {
        border-top: 0.1vw solid rgba(253, 242, 217, 1);
        height: 100%;
        width: 100%;
        padding: 1.5vw;
        position: relative;
    }
    .post_title_font {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 1.8vw;
        font-size: 1.8vw;
        color: black;
    }

    .post_text {
        top: 0.5vw;
        position: relative;
        color: #717278;
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 10px;
        height: 20px;
        width: 100%;
        font-weight: 400;
    }

    .post_category {
        top: 1.5vw;
        position: relative;
        font-size: 1vw;
        font-weight: 400;
        line-height: 1.4;
        color: #717278;
        display: inline-block;
        float: left;
    }
    .post_desc_user {
        box-sizing: content-box;
        height: 1vw;
        left: 0;
        position: relative;
        width: 100%;
    }
    .post_desc_userinfo {
        top: 1.5vw;
        position: relative;
    }
    .post_author {
        color: #717278;
        font-size: 1vw;
        font-weight: 400;
        float: right;
    }

    .post_list_title {
        margin-left: 1vw;
        color: black;
        font-size: 20px;
        font-weight: 700;
        height: 4vw;
        margin-top: 1.1vw;
        position: relative;
    }
    .result {
        top: 0;
        left: 4vw;
        position: relative;
        width: 100%;
        height: 100vh;
        font-size: 3vw;
        color: #717278;
    }
    .result_img {
        position: relative;
        margin-top: 3vw;
        height: 30vw;
        width: 70vw;
    }
}

@media screen and (max-width: 1024px) {
    .search_line {
        display: flex;
        position: relative;
    }
    .post_list {
        display: grid;
        position: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 4vw;
        width: 84.5vw;
        grid-template-columns: repeat(3, auto);
    }
    .post_item {
        margin: 1vw;
        display: block;
        height: 28vw;
        width: 26vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 1vw;
    }
    .post_item:hover {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 1vw 1vw;
        background-color: transparent;
        border-radius: 1vw;
        transform: translate(-1vw, -1vw);
    }
    .post_item_inner {
        transition: all 0.15s;
        height: 28vw;
        width: 26vw;
        position: relative;
    }
    .post_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        border-radius: 1vw;
    }
    .img_inner {
        border-radius: 1vw;
        height: 19.5vw;
        width: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3vw;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    .img_center {
        object-position: center;
    }
    .post_desc {
        border-top: 0.1vw solid rgba(253, 242, 217, 1);
        height: 100%;
        width: 100%;
        padding: 1.5vw;
        position: relative;
    }
    .post_title_font {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 1.8vw;
        font-size: 1.8vw;
        color: black;
    }

    .post_text {
        top: 0.5vw;
        position: relative;
        color: #717278;
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 10px;
        height: 20px;
        width: 100%;
        font-weight: 400;
    }

    .post_category {
        top: 1vw;
        position: relative;
        font-size: 1vw;
        font-weight: 400;
        line-height: 1.4;
        color: #717278;
        display: inline-block;
        float: left;
    }
    .post_desc_user {
        box-sizing: content-box;
        height: 1vw;
        left: 0;
        position: relative;
        width: 100%;
    }
    .post_desc_userinfo {
        top: 1vw;
        position: relative;
    }
    .post_author {
        color: #717278;
        font-size: 1vw;
        font-weight: 400;
        float: right;
    }

    .post_list_title {
        margin-left: 1vw;
        color: black;
        font-size: 20px;
        font-weight: 700;
        height: 4vw;
        margin-top: 1.1vw;
        position: relative;
    }
    .result {
        top: 0;
        left: 4vw;
        position: relative;
        width: 100%;
        height: 100vh;
        font-size: 3vw;
        color: #717278;
    }
    .result_img {
        position: relative;
        margin-top: 3vw;
        height: 30vw;
        width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    .search_line {
        width: 20vw;
        left: 4.8vw;
        margin-top: 5vw;
        z-index: 3;
        display: flex;
        position: relative;
    }
    .post_list_title {
        color: black;
        font-size: 15px;
        font-weight: 700;
        height: 2vw;
        position: relative;
        left: 5vw;
        width: 120px;
    }
    .post_list {
        margin-top: 3vw;
        margin-left: 2vw;
        margin-bottom: 3vw;
        display: grid;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 82vw;
        grid-template-columns: repeat(2, auto);
    }
    .post_item {
        margin: 2vw;
        display: block;
        height: 40vw;
        width: 38vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 2vw;
        transition: all 0.15s;
    }
    .post_item:hover {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 1vw 1vw;
        background-color: transparent;
        border-radius: 2vw;
        transform: translate(-1vw, -1vw);
    }
    .post_item_inner {
        height: 40vw;
        width: 38vw;
        position: relative;
    }
    .post_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        border-radius: 2vw;
    }
    .img_inner {
        border-radius: 2vw;
        height: 26.5vw;
        width: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3vw;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    .img_center {
        object-position: center;
    }
    .post_desc {
        height: 100%;
        width: 100%;
        padding: 2.5vw;
        position: relative;
    }
    .post_title_font {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 2vw;
        font-size: 2vw;
        color: black;
    }

    .post_text {
        top: 0.6vw;
        position: relative;
        color: #717278;
        font-size: 1vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        word-wrap: break-word;
        line-height: 2.1vw;
        height: 100%;
        width: 100%;
        font-weight: 400;
    }
    .post_category {
        top: 2vw;
        position: relative;
        font-size: 1.3vw;
        font-weight: 400;
        line-height: 1.3;
        margin-right: 1vw;
        color: #717278;
        display: inline-block;
        float: left;
    }
    .post_desc_user {
        box-sizing: content-box;
        height: 1vw;
        left: 0;
        position: relative;
        width: 100%;
    }
    .post_desc_userinfo {
        top: 2vw;
        position: relative;
    }
    .post_author {
        color: #717278;
        font-size: 1.3vw;
        font-weight: 400;
        float: right;
    }
    .post_title {
        top: 60vw;
        position: absolute;
    }

    .post_list_container {
        position: relative;
        display: grid;
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .search_line {
        width: 20vw;
        top: 2vw;
        z-index: 3;
        position: relative;
    }
    .post_list_title {
        color: black;
        font-size: 4vw;
        font-weight: 700;
        height: 5vw;
        position: relative;
        left: 5vw;
        width: 120px;
    }
    .post_list {
        margin-top: 8vw;
        margin-left: 4vw;
        margin-bottom: 5vw;
        display: grid;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 81vw;
        grid-template-columns: repeat(1, auto);
    }
    .post_item {
        margin: 3vw;
        display: block;
        height: 81vw;
        width: 76vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 4vw;
        transition: all 0.15s;
    }
    .post_item:hover {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 1vw 1vw;
        background-color: transparent;
        border-radius: 4vw;
        transform: translate(-3vw, -3vw);
    }
    .post_item_inner {
        border-radius: 4vw;
        height: 100%;
        width: 76vw;
        position: relative;
    }
    .post_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        border-radius: 4vw;
    }
    .img_inner {
        border-radius: 4vw;
        height: 56vw;
        width: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3vw;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    .img_center {
        object-position: center;
    }
    .post_desc {
        height: 100%;
        width: 100%;
        padding: 4vw;
        position: relative;
    }
    .post_title_font {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 15px;
        font-size: 15px;
        color: black;
    }

    .post_text {
        top: 2vw;
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 10px;
        height: 100%;
        font-weight: 400;
    }
    .post_category {
        top: 6vw;
        position: relative;
        font-size: 3vw;
        font-weight: 400;
        line-height: 1.5;
        margin-right: 1vw;
        transition: all 0.15s;
        color: #717278;
        display: inline-block;
        float: left;
        white-space: normal;
    }
    .post_desc_user {
        box-sizing: content-box;
        height: 1vw;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .post_desc_userinfo {
        top: 6vw;
        right: 4vw;
        transition: relative;
    }
    .post_author {
        color: #717278;
        font-size: 2.6vw;
        font-weight: 400;
        transition: all 0.15s;
        float: right;
    }
}
