.content {
    display: flex;
    justify-content: center;
    padding: 0 auto;
    position: relative;
    background-color: rgba(253, 242, 217, 1);
}
.nav_btn {
    width: 7vw;
    height: 2vw;
    border: 0;
    outline: 0;
    font-size: 1vw;
    text-align: center;
    position: sticky;
    right: 2vw;
    top: 5vw;
    background: rgba(244, 193, 65, 0.8);
}
.nav_area {
    width: 16vw;
    left: 0;
    margin-top: 2vw;
    padding-top: 9vw;
    position: sticky;
    top: 0;
    transition: all 0.15s;
    display: block;
    padding: 0;
    box-sizing: inherit;
}
.nav_container {
    height: 30%;
    padding-bottom: 0vw;
    width: 100%;
    box-sizing: inherit;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 4vw;
}
.nav_items {
    top: 2vw;
    right: 0vw;
    list-style: none;
    position: relative;
    box-sizing: inherit;
    width: 100%;
    margin: 1vw 0;
    transition: all 0.1s ease;
    outline: 0;
    border: 0;
    border-radius: 1vw;
    background-color: rgba(244, 193, 65, 0.8);
}
.category {
    position: relative;
    color: black;
    border-radius: 1vw;
    font-size: 1vw;
    line-height: 1;
    padding: 0.5vw;
    margin-left: 1vw;
    font-weight: 700;
    box-sizing: inherit;
    display: list-item;
    transition: all 0.1s ease;
    width: 100%;
}
.cate_icon {
    font-size: 0;
    height: 2vw;
    left: -0.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2vw;
    box-sizing: inherit;
    border: 0;
}
/* card */
.best_content_container {
    grid-template-columns: 12vw auto;
    width: 100%;
    display: grid;
    position: relative;
    text-align: left;
    box-sizing: inherit;
}

.best_title_container {
    padding-top: 10vw;
    align-items: center;
    background: transparent;
    color: black;
    display: flex;
    font-size: 4vw;
    font-weight: 700;
    line-height: 4vw;
    pointer-events: none;
    word-break: keep-all;
}

.best_list_title {
    margin-left: 1.5vw;
    color: black;
    font-size: 1vw;
    font-weight: 700;
    height: 3vw;
    position: relative;
}

.best_list {
    display: grid;
    margin-bottom: 3vw;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 86.5vw;
    grid-gap: 2vw;
    grid-template-columns: repeat(5, 15vw);
}

.best_item {
    margin: 1.5vw;
    display: block;
    height: 25vw;
    width: 15vw;
    background: rgba(244, 193, 65, 0.8);
    border-radius: 1vw;
}
.best_item:hover {
    background-color: transparent;
    border: 0.2vw dashed black;
}
.best_item_inner {
    transition: all 0.15s;
    height: 25vw;
    width: 15vw;
    position: relative;
}

.best_item_inner:hover {
    background-color: rgba(244, 193, 65, 1);
    transform: translate(-1.5vw, -1.5vw);
    border-radius: 1vw;
}
.img_inner {
    border-radius: 1vw;
    height: 14.5vw;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 3vw;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.img_center {
    object-position: center;
}
.best_desc {
    height: 13vw;
    padding: 1.5vw;
    position: relative;
    width: 100%;
}
.best_title_font {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.1vw;
    font-size: 1vw;
    color: black;
}

.best_text {
    position: absolute;
    color: #717278;
    font-size: 0.6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1vw;
    height: 3vw;
    width: 12vw;
    font-weight: 400;
    transition: all 0.15s;
}

.best_category {
    top: 6.8vw;
    position: absolute;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4;
    margin-right: 1vw;
    transition: all 0.15s;
    color: #717278;
    display: inline-block;
    float: left;
    white-space: normal;
}
.best_desc_user {
    border-top: 0.1vw solid #f2f3f9;
    bottom: 3.5vw;
    box-sizing: content-box;
    height: 1vw;
    left: 0;
    position: absolute;
    width: 100%;
}
.best_desc_userinfo {
    top: 1vw;
    left: 1.6vw;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}
.best_author {
    color: #717278;
    font-size: 0.8vw;
    font-weight: 400;
    transition: all 0.15s;
    float: right;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        justify-content: center;
        padding: 0 auto;
        position: relative;
        background-color: rgba(253, 242, 217, 1);
    }
    .nav_btn {
        width: 10vw;
        height: 4vw;
        border: 0;
        outline: 0;
        font-size: 1vw;
        text-align: center;
        position: sticky;
        right: 2vw;
        top: 10vw;
        background: rgba(244, 193, 65, 0.8);
    }
    .nav_area {
        width: 10vw;
        left: 0;
        margin-top: 4vw;
        padding-top: 0vw;
        position: sticky;
        top: 0;
        transition: all 0.15s;
        display: block;
        padding: 0;
        box-sizing: inherit;
    }
    .nav_container {
        height: 30%;
        width: 100%;
        box-sizing: inherit;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 4vw;
    }
    .nav_items {
        top: 3vw;
        right: 0vw;
        list-style: none;
        position: relative;
        box-sizing: inherit;
        width: 100%;
        margin: 1vw 0;
        transition: all 0.1s ease;
        outline: 0;
        border: 0;
        border-radius: 1vw;
        background-color: rgba(244, 193, 65, 0.8);
    }
    .category {
        position: relative;
        color: black;
        border-radius: 1vw;
        font-size: 1vw;
        line-height: 1;
        padding: 0.5vw;
        margin-left: 1vw;
        font-weight: 700;
        box-sizing: inherit;
        display: list-item;
        transition: all 0.1s ease;
        width: 100%;
    }
    .cate_icon {
        font-size: 0;
        height: 2vw;
        left: -0.5vw;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2vw;
        box-sizing: inherit;
        border: 0;
    }

    .best_content_container {
        grid-template-columns: 13vw auto;
        width: 100%;
        display: grid;
        position: relative;
        text-align: left;
        box-sizing: inherit;
    }
    .best_title_container {
        padding-top: 15vw;
        align-items: center;
        background: transparent;
        color: black;
        display: flex;
        font-size: 4vw;
        font-weight: 700;
        line-height: 4vw;
        pointer-events: none;
        word-break: keep-all;
    }
    .best_list_title {
        color: black;
        font-size: 2vw;
        font-weight: 700;
        height: 5vw;
        position: relative;
        left: 5vw;
        width: 18vw;
    }
    .best_list {
        margin-left: 4vw;
        margin-bottom: 3vw;
        display: grid;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 77vw;
        grid-gap: 2vw;
        grid-template-columns: repeat(5, auto);
    }
    .best_item {
        display: block;
        height: 35vw;
        width: 21vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 2vw;
        transition: all 0.15s;
    }
    .best_item:hover {
        background-color: transparent;
        border: 0.4vw dashed black;
    }
    .best_item_inner {
        height: 100%;
        height: 35vw;
        width: 21vw;
        position: relative;
    }
    .best_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        transform: translate(-1.5vw, -1.5vw);
        border-radius: 2vw;
    }
    .img_inner {
        border-radius: 1vw;
        height: 18.5vw;
        width: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3vw;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    .img_center {
        object-position: center;
    }
    .best_desc {
        height: 18vw;
        padding: 1.5vw;
        position: relative;
        width: 100%;
    }
    .best_title_font {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 2.4vw;
        font-size: 2vw;
        color: black;
    }

    .best_text {
        position: relative;
        color: #717278;
        font-size: 1vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 2.2vw;
        height: 6.6vw;
        width: 18vw;
        font-weight: 400;
        transition: all 0.15s;
    }

    .best_category {
        top: 10vw;
        position: absolute;
        font-size: 1.5vw;
        font-weight: 400;
        line-height: 1.5;
        margin-right: 1vw;
        transition: all 0.15s;
        color: #717278;
        display: inline-block;
        float: left;
        white-space: normal;
    }

    .best_desc_user {
        border-top: 0.1vw solid #f2f3f9;
        bottom: 3.5vw;
        box-sizing: content-box;
        height: 1vw;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .best_desc_userinfo {
        top: 1.5vw;
        left: 1.6vw;
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
    }
    .best_author {
        color: #717278;
        font-size: 0.8vw;
        font-weight: 400;
        transition: all 0.15s;
        float: right;
    }
}
@media screen and (max-width: 425px) {
    .content {
        display: flex;
        justify-content: center;
        padding: 0 auto;
        position: relative;
        background-color: rgba(253, 242, 217, 1);
    }
    .nav_btn {
        width: 16vw;
        height: 8vw;
        border: 0;
        outline: 0;
        font-size: 1vw;
        text-align: center;
        position: sticky;
        right: 2vw;
        top: 10vw;
        background: rgba(244, 193, 65, 0.8);
    }
    .nav_area {
        width: 16vw;
        left: 0;
        margin-top: 1vw;
        padding-top: 0vw;
        position: sticky;
        top: 0;
        transition: all 0.15s;
        display: block;
        padding: 0;
        box-sizing: inherit;
    }
    .nav_container {
        height: 30%;
        width: 100%;
        box-sizing: inherit;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 4vw;
    }
    .nav_items {
        top: 5vw;
        right: 0vw;
        list-style: none;
        position: relative;
        box-sizing: inherit;
        width: 100%;
        transition: all 0.1s ease;
        outline: 0;
        border: 0;
        border-radius: 1vw;
        background-color: rgba(244, 193, 65, 0.8);
    }
    .category {
        position: relative;
        color: black;
        border-radius: 1vw;
        font-size: 1vw;
        line-height: 1;
        padding: 0.5vw;
        font-weight: 700;
        box-sizing: inherit;
        display: list-item;
        transition: all 0.1s ease;
        width: 5vw;
        height: 18vw;
    }
    .cate_icon {
        font-size: 0;
        height: 0vw;
        position: relative;
        top: 0%;
        transform: translateY(-50%);
        width: 2vw;
        box-sizing: inherit;
        border: 0;
    }

    .best_content_container {
        grid-template-columns: 18vw auto;
        width: 100%;
        display: grid;
        position: relative;
        text-align: left;
        box-sizing: inherit;
    }
    .best_title_container {
        padding-top: 20vw;
        align-items: center;
        background: transparent;
        color: black;
        display: flex;
        font-size: 4vw;
        font-weight: 700;
        line-height: 4vw;
        pointer-events: none;
        word-break: keep-all;
    }
    .best_list_title {
        color: black;
        font-size: 3vw;
        font-weight: 700;
        height: 5vw;
        position: relative;
        left: 5vw;
        width: 25vw;
    }
    .best_list {
        margin-left: 4vw;
        margin-bottom: 5vw;
        display: grid;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 77vw;
        grid-gap: 2vw;
        grid-template-columns: repeat(5, auto);
    }
    .best_item {
        display: block;
        height: 56vw;
        width: 34vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 4vw;
        transition: all 0.15s;
    }
    .best_item:hover {
        background-color: transparent;
        border: 0.2vw dashed black;
    }
    .best_item_inner {
        border-radius: 4vw;
        height: 100%;
        height: 56vw;
        width: 34vw;
        position: relative;
    }
    .best_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        transform: translate(-1.5vw, -1.5vw);
        border-radius: 4vw;
    }
    .img_inner {
        border-radius: 4vw;
        height: 32.8vw;
        width: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3vw;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    .img_center {
        object-position: center;
    }
    .best_desc {
        height: 25.6vw;
        padding: 1.5vw;
        position: relative;
        width: 100%;
    }
    .best_title_font {
        width: 33vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 3.4vw;
        font-size: 3.4vw;
        color: black;
    }

    .best_text {
        position: absolute;
        color: #717278;
        font-size: 2.4vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 2.6vw;
        height: 5vw;
        width: 33vw;
        font-weight: 400;
        transition: all 0.15s;
    }

    .best_category {
        top: 13vw;
        position: absolute;
        font-size: 3vw;
        font-weight: 400;
        line-height: 1.5;
        margin-right: 1vw;
        transition: all 0.15s;
        color: #717278;
        display: inline-block;
        float: left;
        white-space: normal;
    }

    .best_desc_user {
        border-top: 0.1vw solid rgba(253, 242, 217, 1);
        bottom: 6vw;
        box-sizing: content-box;
        height: 1vw;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .best_desc_userinfo {
        top: 2vw;
        left: 1.6vw;
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
    }
    .best_author {
        color: #717278;
        font-size: 0.8vw;
        font-weight: 400;
        transition: all 0.15s;
        float: right;
    }
}
