/* 공통 */

/* header */

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(244, 193, 65, 0.8);
}

.header__logo {
    font-family: 'Lobster', cursive;
    cursor: pointer;
    white-space: nowrap;
}

.header__btn {
    white-space: nowrap;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}

/* footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgba(244, 193, 65, 0.8);
}

.footer__logo-box {
    display: flex;
    flex-direction: column;
}

.footer__logo,
.footer__logo-copyright {
    font-family: 'Lobster', cursive;
    white-space: nowrap;
}

.footer__boxes {
    display: flex;
    flex-wrap: wrap;
}

.footer__box {
    display: flex;
    flex-direction: column;
}

.footer__box__content {
    display: flex;
    flex-direction: column;
}

.footer__box__content__el {
    display: block;
    cursor: pointer;
}

.footer__box__content__row {
    display: flex;
}

/* mobile */

@media screen and (max-width: 767px) {
    /* overflow-x: hidden; 줘야됨 */

    /* header */

    .header {
        height: 60px;
    }

    .header__logo {
        font-size: 26px;
        margin-left: 10px;
        cursor: pointer;
    }

    .header__menu__btn {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        cursor: pointer;
    }

    .header__btns {
        position: absolute;
        width: 200px;
        top: 60px;
        background-color: rgba(244, 193, 65, 0.8);
        transition: all ease 0.5s;
        right: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 30px 0 50px 30px;
        gap: 20px;
        border-bottom-left-radius: 5px;
    }

    .header__btns__closed {
        right: -200px;
    }

    .header__btn {
        font-size: 23px;
    }

    /* footer */

    .footer {
        justify-content: space-between;
        padding: 35px 70px 35px 70px;
        gap: 5vw;
    }

    .footer__logo-box {
        gap: 10px;
    }

    .footer__logo {
        font-size: 25px;
    }

    .footer__logo-copyright {
        font-size: 18px;
    }

    .footer__boxes {
        gap: 25px;
    }

    .footer__box {
        gap: 15px;
    }

    .footer__box__title {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .footer__box__content {
        gap: 12px;
    }

    .footer__box__content__el {
        font-size: 15px;
        letter-spacing: 0.5px;
    }

    .footer__box__content__row {
        gap: 12px;
    }
}

/* tablet */

@media screen and (min-width: 768px) {
    /* header */

    .header__menu__btn {
        display: none;
    }

    .header {
        height: 70px;
    }

    .header__logo {
        font-size: 30px;
        margin-left: 20px;
        cursor: pointer;
    }

    .header__btns {
        display: flex;
        gap: 14px;
        margin-right: 20px;
    }

    .header__btn {
        font-size: 24px;
    }

    /* footer */

    .footer {
        justify-content: center;
        padding: 50px;
        gap: 28vw;
    }

    .footer__logo-box {
        gap: 10px;
    }

    .footer__logo {
        font-size: 30px;
    }

    .footer__logo-copyright {
        font-size: 19px;
    }

    .footer__boxes {
        gap: 35px;
    }

    .footer__box {
        gap: 20px;
    }

    .footer__box__title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .footer__box__content {
        gap: 14px;
    }

    .footer__box__content__el {
        font-size: 16px;
        letter-spacing: 0.5px;
    }

    .footer__box__content__row {
        gap: 14px;
    }
}

/* desktop */

@media screen and (min-width: 1024px) {
    /* header */

    .header__logo {
        font-size: 34px;
        margin-left: 30px;
    }

    .header__btns {
        margin-right: 30px;
        gap: 20px;
    }

    .header__btn {
        font-size: 26px;
    }
}
