/*  header */

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(244, 193, 65, 0.8);
    height: 60px;
    z-index: 3;
}

.header__logo {
    font-family: 'Lobster', cursive;
    font-size: 28px;
    margin-left: 15px;
    cursor: pointer;
    white-space: nowrap;
}

.header__btns {
    margin-right: 10px;
    display: flex;
}

.header__btn {
    white-space: nowrap;
    width: 65px;
    border: none;
    background-color: transparent;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
}

/*  footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: rgba(244, 193, 65, 0.8);
}

.footer__logo-box {
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
}

.footer__logo {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-bottom: 8px;
}

.footer__logo-copyright {
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.footer__boxes {
    display: flex;
    flex-direction: column;
}

.footer__box {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-bottom: 5vw;
}

.footer__box__title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.footer__box__content {
    display: flex;
    flex-direction: column;
}

.footer__box__content__row {
    display: flex;
}

.footer__box__content__el {
    display: block;
    font-size: 12px;
    margin: 7px;
    margin-left: 0;
    margin-right: 12px;
    cursor: pointer;
}

/*  landing */

html {
    scroll-behavior: smooth;
}

.landing {
    position: relative;
}

.landing__section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 242, 217, 1);
}

.landing__section1__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translateY(-25%);
}

.landing__section1__tittle {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-bottom: 36px;
}

.landing__section1__p {
    font-size: 20px;
    margin-bottom: 20px;
}

.landing__section1__pic {
    position: absolute;
    opacity: 0.7;
    width: 224px;
    height: auto;
    top: 42vh;
    right: 4vw;
    z-index: 1;
    object-fit: cover;
}

.top-btn {
    position: fixed;
    padding: 7px;
    right: -5px;
    bottom: 10vh;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(244, 193, 65, 0.8);
    z-index: 9999;
    cursor: pointer;
}

.top-btn img {
    width: 30px;
    height: auto;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
}

.scroll-down::before,
.scroll-down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
    z-index: 3;
}

.scroll-down::after {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

.landing__start-btn {
    position: absolute;
    border: none;
    font-size: 30px;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(244, 193, 65, 0.8);
    top: 62vh;
    left: 30vw;
    z-index: 4;
}

.landing__section2__slide {
    height: 50vw;
    width: 80vw;
    overflow: hidden;
}

.landing__section2__slide ul {
    display: flex;
    animation: slide 8s infinite;
}

.landing__section2__slide ul li {
    height: 50vw;
    position: relative;
}

.landing__section2__slide ul li:nth-child(1) {
    background-color: #ffa;
}

.landing__section2__slide ul li:nth-child(2) {
    background-color: #faa;
}

.landing__section2__slide ul li:nth-child(3) {
    background-color: #afa;
}

.landing__section2__slide ul li:nth-child(4) {
    background-color: #aaf;
}

@keyframes slide {
    0% {
        margin-left: 0;
    } /* 0 ~ 10  : 정지 */
    10% {
        margin-left: 0;
    } /* 10 ~ 25 : 변이 */
    25% {
        margin-left: -100%;
    } /* 25 ~ 35 : 정지 */
    35% {
        margin-left: -100%;
    } /* 35 ~ 50 : 변이 */
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    85% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}

.landing__section3__slide {
    height: 50vw;
    width: 80vw;
    overflow: hidden;
    position: relative;
}

.landing__section3__slide ul {
    display: flex;
    transition: 1s;
}

.landing__section3__slide li {
    height: 50vw;
    position: relative;
}

.landing__section3__slide ul li:nth-child(1) {
    background-color: #ffa;
}

.landing__section3__slide ul li:nth-child(2) {
    background-color: #faa;
}

.landing__section3__slide ul li:nth-child(3) {
    background-color: #afa;
}

.landing__section3__slide ul li:nth-child(4) {
    background-color: #aaf;
}

.landing__section3__slide input {
    display: none;
}

.section3__bullet {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}

.section3__bullet label {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #666;
    display: inline-block;
    background-color: #fff;
    font-size: 0;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 3px;
}

.section3__bullet label:last-child {
    margin-right: 0;
}

#section-pos1:checked ~ ul {
    margin-left: 0;
}
#section-pos2:checked ~ ul {
    margin-left: -100%;
}
#section-pos3:checked ~ ul {
    margin-left: -200%;
}
#section-pos4:checked ~ ul {
    margin-left: -300%;
}

#section-pos1:checked ~ .section3__bullet label:nth-child(1),
#section-pos2:checked ~ .section3__bullet label:nth-child(2),
#section-pos3:checked ~ .section3__bullet label:nth-child(3),
#section-pos4:checked ~ .section3__bullet label:nth-child(4) {
    background-color: #666;
}

@media screen and (min-width: 768px) {
    /*  header */

    .header__logo {
        font-size: 40px;
        margin-left: 25px;
    }

    .header__btns {
        margin-right: 50px;
    }

    .header__btn {
        width: 100px;
        height: 20px;
        font-size: 25px;
    }
    /*  footer */

    .footer {
        position: relative;
        height: 20vh;
    }

    .footer__logo {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .footer__logo-copyright {
        font-size: 20px;
    }

    .footer__boxes {
        display: flex;
        flex-direction: row;
    }

    .footer__box {
        margin-right: 50px;
        margin-bottom: 0;
    }

    .footer__box__title {
        font-size: 18px;
    }

    .footer__box__content__el {
        font-size: 15px;
        margin-right: 15px;
    }

    /*  landing */

    .landing__section1__text {
        display: flex;
        flex-direction: column;
        z-index: 2;
        transform: none;
    }

    .landing__section1__tittle {
        font-family: 'Lobster', cursive;
        font-size: 70px;
        margin-bottom: 36px;
    }

    .landing__section1__p {
        font-size: 25px;
    }

    .landing__section1__pic {
        position: initial;
        opacity: 0.7;
        width: 300px;
        height: auto;
        z-index: 1;
        transform: translate(0, 20%);
    }

    .landing__section2__slide {
        height: 350px;
        width: 500px;
        overflow: hidden;
    }

    .landing__section2__slide ul li {
        height: 350px;
    }

    .landing__section3__slide {
        height: 350px;
        width: 500px;
        overflow: hidden;
        position: relative;
    }

    .landing__section3__slide li {
        height: 350px;
    }

    .section3__bullet {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
    }

    .section3__bullet label {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid #666;
        display: inline-block;
        background-color: #fff;
        font-size: 0;
        transition: 0.5s;
        cursor: pointer;
        margin-right: 3px;
    }
}

@media screen and (min-width: 1024px) {
    .landing__section1__text {
        display: flex;
        flex-direction: row;
        margin-right: 200px;
        margin-right: 0;
        gap: 10vw;
    }

    .landing__section1__tittle {
        font-size: 100px;
        margin-bottom: 55px;
    }

    .landing__section1__p {
        font-size: 30px;
    }

    .landing__section1__pic {
        position: initial;
        opacity: 0.7;
        width: 380px;
        height: auto;
        z-index: 1;
        transform: translate(-20%, 20%);
    }

    .scroll-down {
        height: 80px;
        width: 50px;
        border: 2px solid black;
        position: absolute;
        left: 50%;
        bottom: 20px;
        border-radius: 50px;
        cursor: pointer;
        z-index: 2;
    }

    .scroll-down::before,
    .scroll-down::after {
        border: 2px solid black;
        height: 15px;
        width: 15px;
        transform: translate(-50%, -100%) rotate(45deg);
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
        z-index: 2;
    }

    .top-btn {
        width: 80px;
        height: 50px;
    }

    .landing__start-btn {
        position: absolute;
        border: none;
        font-size: 30px;
        width: 260px;
        height: 60px;
        border-radius: 8px;
        background-color: rgba(244, 193, 65, 0.8);
        top: 65vh;
        left: 60vw;
        z-index: 4;
    }

    .landing__section2__slide {
        height: 400px;
        width: 600px;
        overflow: hidden;
    }

    .landing__section2__slide ul li {
        height: 400px;
    }

    .landing__section3__slide {
        height: 400px;
        width: 600px;
        overflow: hidden;
        position: relative;
    }

    .landing__section3__slide ul {
        display: flex;
        transition: 1s;
    }

    .landing__section3__slide li {
        height: 400px;
    }

    .section3__bullet {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
    }

    .section3__bullet label {
        width: 15px;
        height: 15px;
        border-radius: 10px;
        border: 2px solid #666;
        display: inline-block;
        background-color: #fff;
        font-size: 0;
        transition: 0.5s;
        cursor: pointer;
        margin-right: 7px;
    }

    .section3__bullet label:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 425px) {
    /*  header */
    .header {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: rgba(244, 193, 65, 0.8);
        height: 12vw;
        z-index: 3;
    }
    .header__logo {
        font-size: 4vw;
        margin-left: 8vw;
    }

    .header__btns {
        margin-right: 4vw;
    }

    .header__btn {
        width: 15vw;
        height: 3vw;
        font-size: 4vw;
    }
    /*  footer */

    .footer {
        position: relative;
        height: 24vw;
    }

    .footer__logo {
        font-size: 6vw;
        margin-bottom: 2vw;
    }

    .footer__logo-copyright {
        font-size: 3vw;
    }

    .footer__boxes {
        display: flex;
        flex-direction: row;
    }

    .footer__box {
        margin-right: 10vw;
        margin-bottom: 0;
    }

    .footer__box__title {
        font-size: 3vw;
    }

    .footer__box__content__el {
        font-size: 3vw;
        margin-right: 1vw;
    }

    /*  landing */

    .landing__section1__text {
        display: flex;
        flex-direction: column;
        z-index: 2;
        transform: none;
    }

    .landing__section1__tittle {
        font-family: 'Lobster', cursive;
        font-size: 70px;
        margin-bottom: 36px;
    }

    .landing__section1__p {
        font-size: 25px;
    }

    .landing__section1__pic {
        position: initial;
        opacity: 0.7;
        width: 300px;
        height: auto;
        z-index: 1;
        transform: translate(0, 20%);
    }

    .landing__section2__slide {
        height: 350px;
        width: 500px;
        overflow: hidden;
    }

    .landing__section2__slide ul li {
        height: 350px;
    }

    .landing__section3__slide {
        height: 350px;
        width: 500px;
        overflow: hidden;
        position: relative;
    }

    .landing__section3__slide li {
        height: 350px;
    }

    .section3__bullet {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
    }

    .section3__bullet label {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid #666;
        display: inline-block;
        background-color: #fff;
        font-size: 0;
        transition: 0.5s;
        cursor: pointer;
        margin-right: 3px;
    }
}
