.loading_back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(102, 102, 102, 0.5);
    z-index: 99;
}
.loading_Container {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 100%;
    height: 100%;
}
.spinner {
    position: relative;
    left: 43%;
    width: 4vw;
    display: flex;
    flex-wrap: wrap;
    animation: spinning 4s linear 0s infinite;
}

.petal {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    margin: 0.1vw;
    animation: scaling 1.5s linear infinite;
}

#p1 {
    background: #f2ee6f; /* yellow */
    border-bottom-right-radius: 0;
    transform-origin: bottom right;
}

#p2 {
    background: #e693ed; /* pink */
    border-bottom-left-radius: 0;
    transform-origin: bottom left;
    animation-delay: 0.5s;
}

#p3 {
    background: #83b1d6; /* blue */
    border-top-right-radius: 0;
    transform-origin: top right;
    animation-delay: 1.5s;
}

#p4 {
    background: #cf6f6d; /* red */
    border-top-left-radius: 0;
    transform-origin: top left;
    animation-delay: 1s;
}

@keyframes spinning {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scaling {
    50% {
        transform: scale(1.2);
    }
}
.loading {
    max-width: 30%;
    line-height: 1.4;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border: 0.5vw solid rgba(244, 193, 65, 0.8);
    box-sizing: content-box;
    padding: 3vw;
    background-color: white;
}
.loading__author {
    font-weight: normal;
    font-size: 0.9vw;
    font-family: sans-serif;
    color: rgba(189, 189, 189, 1);
    margin: 0.6vw 0 2vw 0;
    display: block;
}
