.Modal_back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(102, 102, 102, 0.5);
}
.Modal {
    width: 50vw;
    height: 56vw;
    position: relative;
    box-sizing: border-box;
    margin: 5vw auto;
    padding: 2vw;
    background: rgba(244, 193, 65, 0.8);
    border-radius: 3vw;
    overflow-y: hidden;
}
.Modal_signup {
    overflow-y: auto;
    width: 50vw;
    height: 45vw;
    position: relative;
    box-sizing: border-box;
    margin: 5vw auto;
    padding: 2vw;
    background: rgba(244, 193, 65, 0.8);
    border-radius: 1vw;
}
.title {
    left: 5vw;
    position: relative;
    font-size: 1.5vw;
}
.close_btn {
    background: none;
    outline: none;
    border: none;
    border-radius: 1vw;
    position: absolute;
    left: 70%;
}
.label {
    font-weight: 600;
    font-size: 1vw;
    margin-bottom: 1vw;
}
.checkmsg {
    font-weight: 400;
    margin: 0.3vw 1vw;
    font-size: 1vw;
}
.input_container {
    padding: 0 6vw;
    margin-top: 1vw;
}
.signin_input {
    font-size: 1.2vw;
    border-radius: 1vw;
    width: 100%;
    height: 4vw;
    border: 0.1vw solid #e5e5e5;
    padding: 1vw 1vw;
    outline: none;
    box-sizing: border-box;
}
.login_input::placeholder {
    color: #999999;
}
.signin_line {
    padding: 0 6vw;
    text-align: center;
    align-items: center;
}
.signin_btn {
    height: 5vw;
    width: 100%;
    font-size: 0.1vw;
    display: relative;
    cursor: pointer;
    background-color: black;
    color: rgba(244, 193, 65, 0.8);
    outline: 0;
    box-sizing: border-box;
    border-radius: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.kakao_btn {
    height: 3vw;
    width: 100%;
    font-size: 1.5vw;
    display: relative;
    cursor: pointer;
    background-color: black;
    color: rgba(244, 193, 65, 0.8);
    text-align: center;
    vertical-align: middle;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1vw;
}
.kakaoLogo {
    width: 1vw;
}
.modal_img_container {
    padding: 0 6vw;
}
.modal_img {
    margin-top: 2vw;
    width: 100%;
    height: 8vw;
    position: relative;
    background-color: white;
}

.alert_container {
    width: 50vw;
    height: 15vw;
    position: fixed;
    top: 15vw;
    left: 25vw;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: black;
    border: 0.1vw solid black;
    border-radius: 1vw;
}
.alert_box {
    font-size: 2vw;
    position: relative;
    top: 3vw;
}
.alert_btn {
    font-size: 2vw;
    position: relative;
    top: 4vw;
    outline: 0;
    border: 0;
    background-color: rgba(244, 193, 65, 0.8);
}

@media screen and (min-width: 768px) {
    .Modal_back {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(102, 102, 102, 0.5);
    }
    .Modal {
        width: 34vw;
        height: 36vw;
        position: relative;
        box-sizing: border-box;
        margin: 5vw auto;
        padding: 2vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 1vw;
        overflow-y: hidden;
    }
    .Modal_signup {
        overflow-y: auto;
        width: 34vw;
        height: 34vw;
        position: relative;
        box-sizing: border-box;
        margin: 5vw auto;
        padding: 2vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 1vw;
    }
    .title {
        left: 5vw;
        position: relative;
        font-size: 1.5vw;
    }
    .close_btn {
        background: none;
        outline: none;
        border: none;
        border-radius: 1vw;
        position: absolute;
        left: 70%;
    }
    .label {
        font-weight: 600;
        font-size: 1vw;
        margin-bottom: 1vw;
    }
    .checkmsg {
        font-weight: 400;
        margin: 0.3vw 1vw;
        font-size: 1vw;
    }
    .input_container {
        padding: 0 6vw;
        margin-top: 1vw;
    }
    .signin_input {
        font-size: 0.5vw;
        border-radius: 1vw;
        width: 100%;
        height: 2vw;
        border: 0.1vw solid #e5e5e5;
        padding: 1vw 1vw;
        outline: none;
        box-sizing: border-box;
    }
    .login_input::placeholder {
        color: #999999;
    }
    .signin_line {
        padding: 0 6vw;
        text-align: center;
        align-items: center;
    }
    .signin_btn {
        height: 3vw;
        width: 100%;
        font-size: 1vw;
        display: relative;
        cursor: pointer;
        background-color: black;
        color: rgba(244, 193, 65, 0.8);
        box-sizing: border-box;
        border-radius: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .kakao_btn {
        height: 3vw;
        width: 100%;
        font-size: 1vw;
        display: relative;
        cursor: pointer;
        background-color: black;
        color: rgba(244, 193, 65, 0.8);
        text-align: center;
        vertical-align: middle;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1vw;
    }
    .kakaoLogo {
        width: 1vw;
    }
    .modal_img {
        margin-top: 2vw;
        width: 100%;
        height: 8vw;
        position: relative;
        background-color: white;
    }
    .modal_img_container {
        padding: 0 6vw;
    }
    .alert_container {
        font-size: 1.5vw;
        width: 30vw;
        height: 10vw;
        position: fixed;
        top: 10vw;
        left: 35vw;
        box-sizing: border-box;
        text-align: center;
        background-color: white;
        color: black;
        border: 0.1vw solid black;
        border-radius: 1vw;
    }
    .alert_box {
        position: relative;
        top: 3vw;
    }
    .alert_btn {
        position: relative;
        top: 4vw;
        outline: 0;
        border: 0;
        background-color: rgba(244, 193, 65, 0.8);
    }
}
@media screen and (min-width: 1024px) {
    .Modal_back {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(102, 102, 102, 0.5);
    }
    .Modal {
        width: 34vw;
        height: 34vw;
        position: relative;
        box-sizing: border-box;
        margin: 5vw auto;
        padding: 2vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 1vw;
        overflow-y: hidden;
    }
    .Modal_signup {
        overflow-y: auto;
        width: 34vw;
        height: 34vw;
        position: relative;
        box-sizing: border-box;
        margin: 5vw auto;
        padding: 2vw;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 1vw;
    }
    .title {
        left: 5vw;
        font-size: 1.5vw;
        position: relative;
    }
    .close_btn {
        background: none;
        outline: none;
        border: none;
        border-radius: 1vw;
        position: absolute;
        left: 70%;
    }
    .label {
        font-weight: 600;
        margin-bottom: 1vw;
        font-size: 1vw;
    }
    .checkmsg {
        font-weight: 400;
        margin: 0.3vw 1vw;
        font-size: 1vw;
    }
    .input_container {
        padding: 0 6vw;
        margin-top: 1vw;
    }
    .signin_input {
        font-size: 0.5vw;
        border-radius: 1vw;
        width: 100%;
        height: 2vw;
        border: 0.1vw solid #e5e5e5;
        padding: 1vw 1vw;
        outline: none;
        box-sizing: border-box;
    }
    .login_input::placeholder {
        color: #999999;
    }
    .signin_line {
        padding: 0 6vw;
        text-align: center;
        align-items: center;
    }
    .signin_btn {
        height: 3vw;
        width: 100%;
        font-size: 1vw;
        display: relative;
        cursor: pointer;
        background-color: black;
        color: rgba(244, 193, 65, 0.8);
        box-sizing: border-box;
        border-radius: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .kakao_btn {
        height: 3vw;
        width: 100%;
        font-size: 1vw;
        display: relative;
        cursor: pointer;
        background-color: black;
        color: rgba(244, 193, 65, 0.8);
        text-align: center;
        vertical-align: middle;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1vw;
    }
    .kakaoLogo {
        position: relative;
        width: 1vw;
    }
    .modal_img {
        margin-top: 2vw;
        width: 100%;
        height: 8vw;
        position: relative;
        border-radius: 1vw;
        background-color: white;
    }
    .modal_img_container {
        padding: 0 6vw;
    }
    .alert_container {
        font-size: 1.5vw;
        width: 30vw;
        height: 10vw;
        position: fixed;
        top: 10vw;
        left: 35vw;
        box-sizing: border-box;
        text-align: center;
        background-color: white;
        color: black;
        border: 0.1vw solid black;
        border-radius: 1vw;
    }
    .alert_box {
        position: relative;
        top: 3vw;
    }
    .alert_btn {
        font-size: 1vw;
        width: 5vw;
        height: 2vw;
        position: relative;
        top: 4vw;
        outline: 0;
        border: 0;
        background-color: rgba(244, 193, 65, 0.8);
    }
}
