.my_wrapper {
    background-color: rgba(253, 242, 217, 0.5);
}

.my_post_container::-webkit-scrollbar-thumb,
.my_scrap_container::-webkit-scrollbar-thumb,
#my_alert::-webkit-scrollbar-thumb {
    display: none;
}

.my_post_container::-webkit-scrollbar,
.my_scrap_container::-webkit-scrollbar,
#my_alert::-webkit-scrollbar {
    display: none;
}

.my_post_container:hover.my_post_container::-webkit-scrollbar-thumb,
.my_scrap_container:hover.my_scrap_container::-webkit-scrollbar-thumb,
#my_alert:hover#my_alert::-webkit-scrollbar-thumb {
    display: block;
    height: 7px;
    width: 5px;
    background-color: rgba(244, 193, 65, 0.8);
    border-radius: 10px;
}

.my_post_container:hover.my_post_container::-webkit-scrollbar,
.my_scrap_container:hover.my_scrap_container::-webkit-scrollbar,
#my_alert:hover#my_alert::-webkit-scrollbar {
    display: block;
    height: 7px;
    width: 5px;
    background-color: rgba(244, 193, 65, 0.4);
    border-radius: 10px;
}

/* pc */
@media screen and (min-width: 1024px) {
    .my_wrapper {
        color: #666;
        font-size: 14px;
        list-style: none;
        -ms-overflow-style: none;
        margin: auto;
        padding-top: 80px;
    }

    #no_data {
        font-size: 30px;
        color: #333;
    }

    .sidebar_and_post {
        padding: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 900px;
        height: 700px;
        margin: auto;
    }

    /* ------------------ side bar / user information 시작 ------------------------------------ */

    .my_side_bar {
        padding: 8px;
        width: 250px;
        height: 660px;
        border: 10px solid rgba(244, 193, 65, 0.8);
        border-radius: 20px;
        box-shadow: 0.3vw 0.5vw 1vw rgba(100, 100, 99, 0.3);
        overflow: hidden;
    }

    .my_profile_img {
        margin: auto;
        border-radius: 20px;
        overflow: hidden;
    }

    .my_info {
        border-bottom: 5px dotted #f4c141;
        position: relative;
        padding-bottom: 10px;
    }

    .my_user_name {
        margin: 12px auto;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
    }

    #profile_img_uploader {
        background-color: transparent;
        border-bottom: 3px solid #fff;
        font-size: 12px;
        width: 220px;
        height: 22px;
        margin: 5px auto;
    }

    #profile_img_uploader::file-selector-button {
        background: rgb(255, 211, 17);
        border: 1px solid #fff;
        border-radius: 5px;
    }

    #userName_input {
        border: 3px solid #fff;
    }

    #email span,
    #username span {
        font-size: 14px;
        font-weight: 500;
    }

    #email {
        margin-bottom: 20px;
    }

    .user_btn {
        width: 220px;
        height: 30px;
        margin: auto;
        /* border: 1px solid red; */
    }

    .edit_my_profile_btn {
        background-color: transparent;
        border: none;
        overflow: hidden;
        margin: 8px auto;
        float: right;
    }

    .deleteBtn {
        background-color: transparent;
        border: none;
        margin: 8px auto;
        float: right;
    }

    .edit_my_profile:hover,
    .deleteBtn:hover {
        cursor: pointer;
    }

    /* -------------------- alert 시작 ---------------------- */

    #my_alert {
        width: 220px;
        height: 80%;
        margin: auto;
        overflow: scroll;
        padding: 1vw 1vw 20px 1vw;
    }

    #my_alert_title {
        font-size: 14px;
        font-weight: 600;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .alert_ul {
        overflow-y: scroll;
    }

    .alert_list {
        font-size: 12px;
        color: #666;
        width: 100%;
        line-height: 22px;
        text-align: justify;
        padding-bottom: 7px;
        /* text-decoration: underline; */
        border-bottom: 1px solid #ccc;
    }

    #no_alert {
        font-size: 12px;
    }

    /* ------------------- mypost / myscrap 시작 --------------------------- */

    .my_Allpost_wrapper {
        border: 10px solid rgba(244, 193, 65, 0.8);
        width: 640px;
        height: 660px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0.3vw 0.5vw 1vw rgba(100, 100, 99, 0.3);
    }

    .my_post_container,
    .my_scrap_container {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .my_post_container {
        border-bottom: 5px dotted rgba(244, 193, 65, 0.8);
        /* margin-bottom: 10px; */
        height: 292px;
    }

    .my_scrap_container {
        height: 280px;
    }

    .empty {
        text-align: center;
        font-size: 1.5vw;

        line-height: 3vw;
        margin: auto;
    }

    .my_post,
    .my_scrap {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 5px 0;
    }

    .my_post_item {
        margin: 10px 0;
        height: 250px;
        width: 250px;
        display: block;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 20px;
        box-shadow: inset -6px -6px 5px rgba(255, 239, 146, 0.7);
        font-size: 12px;
        animation-duration: 3s;
        animation-name: post_item;
        overflow: hidden;
        cursor: pointer;
        flex-basis: 250px;
        min-width: 250px;
        margin-top: 20px;
        margin-right: 2vw;
    }

    @keyframes post_item {
        from {
            margin-left: 100%;
            /* width: 300%; */
        }

        to {
            margin-left: 0%;
            /* width: 100%; */
        }
    }

    .my_post_item:first-child {
        margin-left: 1vw;
    }

    .my_post_item:hover .my_img_inner {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        overflow: hidden;
    }

    .my_img_container {
        overflow: hidden;
    }

    .my_post_text {
        top: 5px;
        position: relative;
        color: #666;
        font-size: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 15px;
        height: 100%;
        width: 100%;
        font-weight: 400;
    }

    .my_post_desc_text {
        height: 15px;
        padding: 0 5px;
    }

    .my_post_desc_title {
        font-size: 14px;
        padding: 2px 5px;
        font-weight: 600;
    }

    .my_post_category {
        margin-left: 15px;
        position: relative;
    }

    .my_post_bot {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .my_post_desc_userinfo {
        display: flex;
        flex-direction: row;
        width: 200px;
        padding-left: 150px;
    }

    .my_post_author {
        margin-right: 8px;
        width: 20px;
        font-size: 8px;
        min-width: 17px;
    }
}

/* tablet */
@media screen and (max-width: 1023px) {
    .my_wrapper {
        margin: auto;
        color: #666;
        list-style: none;
        -ms-overflow-style: none;
        height: 160vw;
        padding: 10vw 0;
    }

    #no_data {
        font-size: 30px;
        color: #333;
    }

    /* ------------------ side bar / user information 시작 ------------------------------------ */

    .my_side_bar {
        margin: auto;
        padding: 1vw;
        width: 70vw;
        height: 40vw;
        border: 10px solid rgba(244, 193, 65, 0.8);
        box-shadow: 0.3vw 0.5vw 1vw rgba(100, 100, 99, 0.3);
        border-radius: 1vw;
        overflow: hidden;
    }

    .my_info {
        border-bottom: 5px dotted #f4c141;
        display: flex;
        flex-direction: row;
        height: 65%;
    }

    .my_user_name {
        margin: 2.6vw auto;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
    }

    .my_pfimg_positioning {
        width: 26.04vw;
        height: 22.14vw;
        display: flex;
    }

    .my_pfimg_positioning::after {
        display: block;
        width: 1px;
        height: 17vw;
        background: #ccc;
    }

    .my_profile_img {
        width: 19.53vw;
        height: 19.53vw;
        margin: auto;
        border-radius: 7%;
        overflow: hidden;
    }

    .my_userInfo_container {
        width: 40vw;
        padding-left: 1vw;
    }

    #email,
    #username {
        font-size: 14px;
    }

    #email {
        margin-bottom: 20px;
    }

    #email span,
    #username span {
        font-weight: 500;
    }

    #profile_img_uploader {
        background-color: transparent;
        border-bottom: 3px solid #fff;
        font-size: 12px;
        width: 220px;
        height: 22px;
        margin: 5px auto;
    }

    #profile_img_uploader::file-selector-button {
        background: rgb(255, 211, 17);
        border: 1px solid #fff;
        border-radius: 5px;
    }

    /* input[type='text'] */
    #userName_input {
        border: 3px solid #fff;
    }

    .edit_my_profile_btn {
        background-color: transparent;
        border: none;
    }

    .deleteBtn {
        background-color: transparent;
        border: none;
    }

    .edit_my_profile:hover {
        cursor: pointer;
    }

    .deleteBtn:hover {
        cursor: pointer;
    }

    /* -------------------- alert 시작 ---------------------- */

    #my_alert {
        width: 100%;
        height: 20vw;
        margin: auto;
        text-align: center;
        bottom: 1.5vw;
        border-radius: 0 0 1.5vw 1.5vw;
        overflow: scroll;
    }

    #my_alert_title {
        font-size: 14px;
        font-weight: 500;
        height: 3vw;
        text-align: center;
        line-height: 3vw;
    }

    .alert_list {
        font-size: 12px;
        color: #666;
        width: 100%;
        height: 22px;
        line-height: 22px;
    }

    #no_alert {
        font-size: 12px;
    }

    .alert_ul {
        padding-bottom: 20px;
        overflow: scroll;
    }

    /* ------------------- mypost / myscrap 시작 --------------------------- */

    .my_Allpost_wrapper {
        border: 10px solid rgba(244, 193, 65, 0.8);
        width: 70vw;
        height: 660px;
        margin: 2vw auto 300px;
        padding: 2vw;
        border-radius: 1.5vw;
        box-shadow: 0.3vw 0.5vw 1vw rgba(100, 100, 99, 0.3);
        /* position: absolute;
        left: 15vw;
        top: 51vw; */
    }

    .my_post_container,
    .my_scrap_container {
        width: 100%;
        height: 283px;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
    }

    .my_post_container {
        border-bottom: 5px dotted rgba(244, 193, 65, 0.8);
    }

    .empty {
        text-align: center;
        font-size: 1.5vw;

        line-height: 3vw;
        margin: auto;
    }

    .my_post,
    .my_scrap {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 5px 0;
    }

    .my_post_item {
        margin: 1.3vw;
        height: 250px;
        width: 250px;
        display: block;
        background: rgba(244, 193, 65, 0.8);
        box-shadow: inset -6px -6px 5px rgba(255, 239, 146, 0.7);
        border-radius: 20px;
        font-size: 12px;
        animation-duration: 3s;
        animation-name: post_item;
        overflow: hidden;
        cursor: pointer;
        flex-basis: 250px;
        min-width: 250px;
        margin-top: 15px;
    }

    @keyframes post_item {
        from {
            margin-left: 100%;
        }

        to {
            margin-left: 0%;
        }
    }

    .my_post_item:first-child {
        margin-left: 1vw;
    }

    .my_post_item:hover .my_img_inner {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .my_img_container {
        overflow: hidden;
    }

    .my_post_item_inner {
        transition: all 0.15s;
        height: 250px;
        width: 250px;
    }

    .my_post_item_inner:hover {
        background-color: rgba(244, 193, 65, 1);
        border-radius: 20px;
    }

    .my_img_inner {
        width: 250px;
        height: 180px;
    }

    .my_post_desc_title {
        font-size: 12px;
        font-weight: 600;
    }

    .my_post_desc_text {
        font-size: 10px;
        color: #666;
        height: 15px;
        padding: 0 5px;
    }

    .my_post_category {
        margin-left: 15px;
        position: relative;
    }

    .my_post_bot {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .my_post_desc_userinfo {
        display: flex;
        flex-direction: row;
        width: 200px;
        padding-left: 150px;
    }

    .my_post_author {
        margin-right: 8px;
        width: 30px;
        font-size: 8px;
    }
}

/* mobile */
@media screen and (max-width: 617px) {
    .my_wrapper {
        margin: auto;
        color: #666;
        list-style: none;
        -ms-overflow-style: none;
        height: 1150px;
        padding: 20vw 0;
    }

    #no_data {
        font-size: 30px;
        color: #333;
    }

    /* ------------------ side bar / user information 시작 ------------------------------------ */

    .my_side_bar {
        margin: auto;
        padding: 1vw;
        width: 98vw;
        height: 65vw;
        border: 5px solid rgba(244, 193, 65, 0.8);
        box-shadow: 0.3vw 0.5vw 1vw rgba(100, 100, 99, 0.3);
        border-radius: 1vw;
        overflow: hidden;
    }

    .my_info {
        border-bottom: 5px dotted #f4c141;
        display: flex;
        flex-direction: row;
        height: 65%;
    }

    .my_user_name {
        margin: 3vw auto;
        padding-bottom: 10px;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
    }

    .my_pfimg_positioning {
        width: 40vw;
        height: 38vw;
        display: flex;
    }

    .my_pfimg_positioning::after {
        display: block;
        width: 1px;
        height: 17vw;
        background: #ccc;
    }

    .my_profile_img {
        width: 30vw;
        height: 30vw;
        margin: auto;
        border-radius: 7%;
        overflow: hidden;
    }

    .my_userInfo_container {
        width: 70vw;
        padding-left: 5vw;
    }

    #email,
    #username {
        font-size: 12px;
    }

    #email {
        margin-bottom: 20px;
    }

    #email span,
    #username span {
        font-weight: 500;
    }

    #profile_img_uploader {
        background-color: transparent;
        border-bottom: 3px solid #fff;
        font-size: 12px;
        width: 200px;
        height: 22px;
        margin: 5px auto;
    }

    #my_form {
        font-size: 12px;
    }

    #profile_img_uploader::file-selector-button {
        background: rgb(255, 211, 17);
        border: none;
        border-radius: 5px;
    }

    #userName_input {
        border: 3px solid #fff;
    }

    .user_btn {
        padding-top: 10vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 85vw;
    }

    .edit_my_profile_btn {
        background-color: transparent;
        border: none;
    }

    .deleteBtn {
        background-color: transparent;
        border: none;
    }

    .edit_my_profile:hover {
        cursor: pointer;
    }

    .deleteBtn:hover {
        cursor: pointer;
    }

    /* -------------------- alert 시작 ---------------------- */

    #my_alert {
        width: 100%;
        height: 20vw;
        margin: auto;
        text-align: center;
        bottom: 1.5vw;
        border-radius: 0 0 1.5vw 1.5vw;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 0;
    }

    #my_alert_title {
        font-size: 14px;
        font-weight: 500;
        height: 3vw;
        text-align: center;
        line-height: 3vw;
    }

    .alert_ul {
        width: 290px;
        padding: 2px 7px;
        text-align: center;
    }

    .alert_list {
        font-size: 12px;
        color: #666;
        width: 100%;
        line-height: 22px;
        text-align: center;
        height: 100%;
        border-bottom: 1px solid #ccc;
    }

    #no_alert {
        font-size: 12px;
    }

    /* ------------------- mypost / myscrap 시작 --------------------------- */

    .my_Allpost_wrapper {
        border: 5px solid rgba(244, 193, 65, 0.8);
        width: 98vw;
        height: 660px;
        margin: 10px auto 300px;
        padding: 2vw;
        border-radius: 1.5vw;
        box-shadow: 0.3vw 0.5vw 1vw rgba(100, 100, 99, 0.3);
    }

    .my_post_container,
    .my_scrap_container {
        width: 100%;
        height: 300px;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
    }

    .my_post_container {
        border-bottom: 5px dotted rgba(244, 193, 65, 0.8);
    }

    .my_scrap_container {
        height: 280px;
    }

    .empty {
        text-align: center;
        font-size: 1.5vw;

        line-height: 3vw;
        margin: auto;
    }

    .my_post,
    .my_scrap {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 5px 0;
    }

    .my_post_item {
        margin: 1.3vw;
        height: 250px;
        width: 250px;
        display: block;
        background: rgba(244, 193, 65, 0.8);
        border-radius: 20px;
        box-shadow: inset -6px -6px 5px rgba(255, 239, 146, 0.7);
        font-size: 12px;
        animation-duration: 3s;
        animation-name: post_item;
        overflow: hidden;
        cursor: pointer;
        flex-basis: 250px;
        min-width: 250px;
        margin-top: 20px;
    }

    @keyframes post_item {
        from {
            margin-left: 100%;
        }

        to {
            margin-left: 0%;
        }
    }

    .my_post_item:first-child {
        margin-left: 1vw;
    }

    .my_post_item:hover .my_img_inner {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .my_img_container {
        overflow: hidden;
    }

    .my_post_item_inner {
        transition: all 0.15s;
        height: 250px;
        width: 250px;
    }

    .my_img_inner {
        width: 250px;
        height: 180px;
    }

    .my_post_desc {
        margin-top: 10px;
    }

    .my_post_desc_title {
        font-size: 12px;
        font-weight: 500;
    }

    .my_post_desc_text {
        font-size: 10px;
        color: #666;
        height: 15px;
    }

    .my_post_category {
        margin-left: 15px;
        position: relative;
    }

    .my_post_bot {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .my_post_desc_userinfo {
        display: flex;
        flex-direction: row;
        width: 200px;
        padding-left: 150px;
    }

    .my_post_author {
        margin-right: 8px;
        width: 30px;
        font-size: 8px;
    }
}
