.my_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 8vw 0 5vw 0;
    color: #666;
}
/* ------------------ side bar / user information 시작 ------------------------------------ */
.my_side_bar {
    margin: 0 5vw 0 8vw;
    padding: 2vw;
    width: 25vw;
    height: 50vw;
    border: 10px solid #f4c141;
    border-radius: 5vw;
}

.my_info {
    border-bottom: 5px dotted #f4c141;
    position: absolute;
    margin: auto;
    width: 20vw;
    padding-bottom: 3vw;
}

.my_user_name {
    margin: 2vw auto;
    text-align: center;
}

.my_profile_img {
    width: 15vw;
    height: 15vw;
    margin: auto;
    border-radius: 20%;
    background-color: #f4c141;
}

.edit_my_profile {
    width: 3vw;
    height: 3vw;
    background-color: #fff;
    border: none;
    position: absolute;
    right: 0vw;
    bottom: 3.5vw;
}

.edit_my_profile:hover {
    cursor: pointer;
}

/* ------------------- mypost / myscrap 시작 --------------------------- */

.my_Allpost_wrapper {
    background-color: rgba(244, 193, 65, 0.8);
    width: 58vw;
    height: 50vw;
    position: absolute;
    top: 8vw;
    right: 5vw;
    overflow: scroll;
    padding: 2vw;
    border-radius: 5vw;
}

.my_post_container,
.my_scrap_container {
    width: 54vw;
    height: 30vw;
    background-color: #fff;
    border-radius: 5vw;
    margin: 2vw auto;
    padding: 2vw;
    overflow: scroll;
    display: grid;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 3vw;
    width: 86.5vw;
    grid-gap: 2vw;
    grid-template-columns: repeat(5, 15vw);
}

.my_post,
.my_scrap {
    color: #fff;
    font-size: 2vw;
    text-align: center;
}

.my_post_item {
    top: 10vw;
    display: block;
    height: 25vw;
    width: 15vw;
    background: rgba(244, 193, 65, 0.8);
    border-radius: 1vw;
    transition: all 0.15s;
}
