/* 공통 */

.post-upload-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(253, 242, 217, 1);
}

.upload-post__post-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-post__post {
    overflow: hidden;
    position: relative;
}

.upload-post__post input {
    display: none;
}

#pos1:checked ~ ul {
    margin-left: 0;
}
#pos2:checked ~ ul {
    margin-left: -100%;
}
#pos3:checked ~ ul {
    margin-left: -200%;
}
#pos4:checked ~ ul {
    margin-left: -300%;
}
#pos5:checked ~ ul {
    margin-left: -400%;
}

.upload-post__post ul {
    display: flex;
    transition: 1s;
}

.upload-post__post li {
    position: relative;
    background-color: rgba(242, 186, 44, 0.7);
}

.upload-post__post__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-post__post__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    white-space: pre-wrap;
}

.upload-post__post__previous-page-btn,
.upload-post__post__next-page-btn {
    position: absolute;
    cursor: pointer;
    padding: 20px 5px 20px 5px;
}

.post__toolbar {
    position: relative;
}

.post__toolbar__label__div {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.post__toolbar__label {
    background-color: rgba(244, 193, 65, 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.selected-page {
    border-bottom: none;
    background-color: rgba(242, 180, 24, 0.8);
}

.post__toolbar__edit-section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 180, 24, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post__toolbar__about-post {
    display: flex;
    flex-direction: column;
}

.post__toolbar__title,
.post__toolbar__content-input {
    background-color: rgba(253, 242, 217, 1);
    border: none;
    border-radius: 3px;
}

.post__toolbar__category {
    border: none;
    border-radius: 3px;
    background-color: rgba(253, 242, 217, 1);
}

.post__toolbar__image {
    display: flex;
    justify-content: space-between;
}

.post__toolbar__image-label {
    display: block;
    text-align: center;
    background-color: rgba(253, 242, 217, 1);
    border: none;
    border-radius: 3px;
}

.post__toolbar__image-input {
    display: none;
}

.post__toolbar__content-form {
    display: flex;
    flex-direction: column;
}

.post__toolbar__delete-page,
.post__toolbar__delete-post {
    background-color: rgba(253, 242, 217, 1);
    border-radius: 3px;
    border: none;
}

.new-post__upload-section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.post-upload__err {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 12px;
    color: #f44336;
}

/* mobile */

@media screen and (max-width: 767px) {
    .post-upload-page {
        flex-direction: column;
    }

    .upload-post__post-area {
        padding: 20px;
    }

    .upload-post__title {
        width: 80vw;
        max-width: 520px;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .upload-post__post {
        width: 75vw;
        max-width: 470px;
        margin-bottom: 10px;
    }

    .upload-post__post li {
        height: 75vw;
        max-height: 470px;
    }

    .upload-post__post__text {
        padding: 20px;
        font-size: 17px;
        line-height: 21px;
    }

    .upload-post__post__previous-page-btn,
    .upload-post__post__next-page-btn {
        top: 45%;
    }

    .upload-post__post__previous-page-btn {
        left: 0px;
    }

    .upload-post__post__next-page-btn {
        right: 0px;
        transform: rotate(180deg);
    }

    .post__toolbar {
        margin: 20px 0 20px 0;
    }

    .post__toolbar__label__div {
        top: -26px;
        gap: 2px;
        padding-left: 2vw;
    }

    .post__toolbar__label {
        padding: 5px 6px 8px 6px;
        font-size: 14px;
    }

    .post__toolbar__edit-section {
        padding: 5vw;
        width: 95vw;
        max-width: 580px;
        gap: 10px;
    }

    .post__toolbar__about-post {
        gap: 10px;
    }

    .post__toolbar__about-post label,
    .post__toolbar__content-form label {
        font-size: 18px;
    }

    .post__toolbar__title {
        font-size: 16px;
        height: 50px;
        padding: 5px;
    }

    .post__toolbar__category {
        font-size: 16px;
        height: 28px;
    }

    .post__toolbar__image-label {
        width: 40vw;
        max-width: 240px;
        font-size: 16px;
        height: 26px;
        padding: 5px 0 5px 0;
    }

    .post__toolbar__content-form {
        gap: 10px;
    }

    .post__toolbar__content-input {
        font-size: 16px;
        height: 120px;
        padding: 5px;
    }

    .post__toolbar__delete-page,
    .post__toolbar__delete-post {
        font-size: 16px;
        height: 26px;
    }
}

/* tablet */

@media screen and (min-width: 768px) {
    .post-upload-page {
        flex-direction: column;
    }

    .upload-post__post-area {
        padding: 20px;
    }

    .upload-post__title {
        width: 520px;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .upload-post__post {
        width: 470px;
        margin-bottom: 10px;
    }

    .upload-post__post li {
        height: 470px;
    }

    .upload-post__post__text {
        padding: 25px;
        font-size: 19px;
        line-height: 24px;
    }

    .upload-post__post__previous-page-btn,
    .upload-post__post__next-page-btn {
        top: 45%;
    }

    .upload-post__post__previous-page-btn {
        left: 0px;
    }

    .upload-post__post__next-page-btn {
        right: 0px;
        transform: rotate(180deg);
    }

    .post__toolbar {
        margin: 22px 0 22px 0;
    }

    .post__toolbar__label__div {
        top: -28px;
        gap: 5px;
        padding-left: 20px;
    }

    .post__toolbar__label {
        padding: 5px 6px 8px 6px;
        font-size: 16px;
    }

    .post__toolbar__edit-section {
        padding: 40px 50px 40px 50px;
        width: 580px;
        gap: 15px;
    }

    .post__toolbar__about-post {
        gap: 15px;
    }

    .post__toolbar__about-post label,
    .post__toolbar__content-form label {
        font-size: 18px;
    }

    .post__toolbar__title {
        font-size: 16px;
        height: 60px;
        padding: 7px;
    }

    .post__toolbar__category {
        font-size: 16px;
        height: 30px;
        padding: 7px;
    }

    .post__toolbar__image-label {
        width: 230px;
        font-size: 16px;
        height: 30px;
        padding: 7px 0 7px 0;
    }

    .post__toolbar__content-form {
        gap: 15px;
    }

    .post__toolbar__content-input {
        font-size: 16px;
        height: 120px;
        padding: 7px;
    }

    .post__toolbar__delete-page,
    .post__toolbar__delete-post {
        font-size: 16px;
        height: 30px;
    }
}

/* desktop */

@media screen and (min-width: 1024px) {
    .post-upload-page {
        flex-direction: row;
        min-height: 80vh;
        gap: 2vw;
        justify-content: space-evenly;
    }

    .post__toolbar__edit-section {
        padding-left: 3vw;
        padding-right: 3vw;
        width: 40vw;
        max-width: 550px;
    }

    .post__toolbar__image-label {
        width: 16vw;
        max-width: 210px;
    }
}
