
.single-post-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(253,242,217,1);
}

.single-post-empty{
    width: 100%;
    height: 8vh;
}

.single-post {
    display: flex;
}

